.header{
	display: flex;
	align-items: center;
	gap: 150px;
	background-color: var(--header);
	height: 70px;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
}

.menuItemActive a {
	color: var(--menu-active-link);
}

.burger {
	position: relative;
	display: none;
	align-items: center;
	height: 48%;
	justify-content: flex-end;
	margin-right: 20px;
	cursor: pointer;
}

.burger span {
	width: 30px;
	height: 3px;
	background-color: black;
}

.burger::before,  .burger::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: black;
	transition: all 0.3s ease;
}

.burger::before {
	content: '';
	top: 6px;
}

.burger::after {
	content: '';
	bottom: 5px;
}

.burger.burgerActive span {
	transform: scale(0)
}

.burger.burgerActive::before {
	top: 15px;
	transform: rotate(-135deg) translate(0, -50%);
}

.burger.burgerActive::after {
	bottom: 15px;
	transform: rotate(135deg) translate(0, 50%);
}


@media screen and (max-width: 768px) {
	.header {
		position: relative;
		justify-content: flex-end;
	}
	
	.burger {
		display: flex;
		z-index: 15;
	}
	
	.menu {
		position: fixed;
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--header);
		gap: 20px;
		padding: 50px 0 0 30px;
		z-index: 10;
	}
	
	.active {
		display: flex;
	}

	.logo {
		display: none;
	}
}