.testCard {
	position: relative;
	background-color: var(--background-result-card);
	border-radius: 5px;
	padding: 10px;
	margin: 0 !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 !important;
}

.wrapper input {
	appearance: auto;
	margin-right: 10px;
	cursor: pointer;
}

.list {
	list-style: auto !important;
	margin: 0 0 0 20px !important;
}

.list li {
	font-size: 0.6em;
}

.title {
	margin-top: 0 !important;
}

.example {
	margin-top: 20px;
	padding: 20px 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.btn {
	display: flex;
	justify-content: flex-end;
	padding: 0 50px;
}
