.testCard {
	background-color: #1b263b;
	border-radius: 5px;
	padding: 10px;
	margin: 0 !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 !important;
}

.wrapper input {
	appearance: auto;
	margin-right: 10px;
	cursor: pointer;
}

.list {
	list-style: auto !important;
	margin: 0 0 0 20px !important;
}

.title {
	font-size: 0.7em;
	margin-top: 0 !important;
}

.example {
	margin-top: 20px;
	padding: 20px 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
