.resultCard {
	background-color: var(--background-result-card);
	border-radius: 5px;
	padding: 10px 10px 15px 10px;
	margin-bottom: 20px;
}

.labelItem {
	font-size: 0.8em;
}

.example {
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.wrapper input {
	appearance: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.true {
	border: 2px solid var(--true-example);
}

.false {
	border: 2px solid var(--false-example);
}

.textFalse {
	color: var(--false-example);
}

.textTrue {
color: var(--true-example);
}
