.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	padding-right: 35px;
}

.secondBlock,
.secondLevelBlock {
	overflow: hidden;
}


.firstBlock,
.secondBlockItem,
.thirdLevelBlock,
.subTitle {
	margin: 0;
}

.title, .subTitle {
	margin-bottom: 0.54em;
	cursor: pointer;
}

.title {
	font-size: 1.1em;
	font-weight: 700;
	margin-top: 1.2em;
}

.subTitle {
	font-size: 0.8em;
}

.itemMenu {
	font-size: 0.65em;
	font-weight: 400;
	margin: 0;
}

.active a{
	color: var(--menu-active-link);
}

.borderActive a{
	border-bottom: 1px solid var(--menu-active-link)
}