@import '@code-hike/mdx/dist/index.css';
.wrapper {
	display: grid;
	grid-template-columns: minmax(250px, auto) 1fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas: "header header" "sidebar main";
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	display: flex;
	justify-content: flex-start;
	grid-area: main;
	padding: 30px 10px 0 50px;
}

@media screen and (max-width: 991px) {
	.wrapper {
	
		grid-template-columns: auto 1fr;
	}
}
