@import '@code-hike/mdx/dist/index.css';
.wrapper {
	display: grid;
	grid-template-columns: 285px minmax(320px, auto);
	grid-template-rows: 1fr auto;
	grid-template-areas: "header header" "sidebar main";
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;
	padding: 30px calc(var(--index) * 5);
}

p {
	font-weight: 300;
	line-height: 25px;
}

a {
	text-decoration: none;
	color: #3a6ea5;
}

a:hover {
	color: #C4CEF4;
}